

<div class="row">
    <div class="col-12">
        <div class="header text-center">
            <button class="btn">Registrar mascota y hábito alimenticio</button>
        </div>
    </div>

<br><br>

    <div class="col-12">
        <div class="header text-center">
            <button class="btn">Alimentar</button>
        </div>
    </div>

<br><br>

    <div class="col-12">
        <div class="header text-center">
            <button class="btn">Interactuar</button>
        </div>
    </div>

<br><br>

    <div class="col-12">
        <div class="header text-center">
            <button class="btn">Seguimiento</button>
        </div>
    </div>
</div>