<br><br>

<div class="row">
    <div class="col-12">
        <div class="header text-center">
            <button class="btn">Registrar mascota y hábito alimenticio</button>
        </div>
    </div>

<br><br>

    <div class="col-12">
        <div class="header text-center">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>

            <a type="button" class="btn btn-primary" href="feed">Alimentar</a>

            <!--
            <form action="feed">
                <button class="btn">Alimentar</button>
            </form>
            -->
        </div>
    </div>

<br><br>

    <div class="col-12">
        <div class="header text-center">
            <a type="button" class="btn btn-primary" href="interact">Interactuar</a>
            <!--<button class="btn">Interactuar</button>-->
        </div>
    </div>

<br><br>

    <div class="col-12">
        <div class="header text-center">
            <a type="button" class="btn btn-primary" href="log">Seguimiento</a>
            <!--<button class="btn">Seguimiento</button>-->
        </div>
    </div>
</div>